settings.json
**/.DS_Store
DerivedData/
*.xcworkspace/
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate

.build/
.swiftpm/
Package.resolved
Pods/
Podfile.lock

*.xarchive

*.log
*.history

*.tmp
*.swiftpm*.swo
*.swn
.DS_Store
Thumbs.db
